  <% form_for(@message, :html => {:class => "new_message", :id => "new_message"}) do |f| %>
  <div style="margin:0;padding:0;display:inline"></div>

  <%= f.error_messages %>

	<label for="message_recipient">TO: </label>
	  <%= f.text_field :recipient, :class => "send" %><br>
		
	<label for="message_subject" accesskey="l">SUBJECT: </label>
	  <%= f.text_field :subject, :class => "send" %><br>

    <%= f.text_area :body, :class => "send" %>

<div id="send-bottom"><input type="image" src="/images/send-bottom.gif" id="message_submit" name="commit" /></div>

<% end %>
