<div id="main">
	<div id="main-content">
		<div id="main-left">
			<div id="email20"></div>
			<div id="emailfun"></div>
			<div id="signup"><%= link_to("<span>Signup</span>", signup_url) %></div>
		</div>
		<div id="main-right">
			<div id="screenshot"></div>
		</div>
	</div>
</div>


<div id="footer">
	<div id="footer-content">
		<div id="footer-leftbox"><div id="header-left"></div>Your email doesn't have to be an ever-expanding list of disorganized messages. MailBright intelligently groups your messages into Stacks, so you can quickly see who you've been conversing with, and when. 
		</div>
		<div id="footer-centerbox"><div id="header-mid"></div>Our inboxes are flooded with automated notifications from social networks, online shopping sites, and many other senders. MailBright separates these notifications from your personal conversations, so you can focus on what matters: real people.
		</div>	
		<div id="footer-rightbox"><div id="header-right"></div>In the past, we used to spend lots of time writing long emails to one another, but today most people just type a sentence or two to get their point across. MailBright, with its instant message-like interface, is designed for the modern email user.
		</div>
	</div>
</div>	
