<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MailBright Signup</title>
<style type="text/css">
<!--
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #41414b;
}
body {
	background-image: url(/images/background.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#header {
	background-image: url(/images/header-background.jpg);
	background-repeat: repeat-x;
	height: 58px;
	width: 100%;
}
#pagetitle {
	background-image: url(/images/header-gradient.jpg);
	background-repeat: repeat-x;
	height: 79px;
	width: 100%;
}
#main {
	background-image: url(/images/footer-gradient.jpg);
	background-repeat: repeat-x;
	width: 100%;
	min-height:400px;
}
#container {
	width:974px;
	margin:auto;
}
#logo a {
	background-image:url(/images/logo.gif);
	background-repeat:no-repeat;
	height:27px;
	width:192px;
	position:relative;
	top: 16px;
	left: 15px;
	display:block;
}
#logo a span {
visibility: hidden;
}
#signup-header {
	background-image: url(/images/signup-header.jpg);
	background-repeat: no-repeat;
	height: 65px;
	width: 150px;
	background-position:bottom;
	margin:auto;
}
#navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	float: right;
	height: 24px;
	width: 200px;
	margin-top:-10px;
	color:#848484;
}
.navigation-left {
	width:63px;
	height:16px;
	border-right:1px solid #848484;
	padding-top:4px;
	float:left;
	text-align:center;
}
.navigation-right {
	width:63px;
	height:16px;
	border:none;
	padding-top:4px;
	float:left;
	text-align:center;
}
.main-left {
	width:600px;
	float:left;
	padding-top:27px;
	line-height:1.6em;
}
.main-right {
	width:330px;
	float:right;
	padding-top:27px;
	line-height:1.6em;
}
#header-freequick {
	width:422px;
	height:23px;
	background-image:url(/images/header-freequick.gif);
	background-repeat:no-repeat;
	float:left;
	margin-left:20px;
}
#header-startenjoying {
	width:108px;
	height:23px;
	background-image:url(/images/header-startenjoying.gif);
	background-repeat:no-repeat;
	float:left;
}
#signupform {
	width:550px;
	padding-left:10px;
	padding-top:35px;
}
label {
margin-right:15px;
text-align:right;
float:left;
display:block;
width:150px;
padding-top:23px;
}
.signupforms {
margin-top:21px;
width:307px;
height:15px;
padding:4px;
border:1px solid #d5d1ca;
color:#848484;
font-family:Arial;
font-size:9pt;
font-weight:normal;
}
br.form {
clear:left;
}
.accept {
position:relative;
top:30px;
left:155px;
}


-->
</style></head>

<body>
<div id="header">
	<div id="container">
		<div id="logo"><a href="/"><span></span></a></div>
   		<div id="navigation">
   		 	<div class="navigation-left">SIGN UP</div>
   		 	<div class="navigation-left">LOG IN</div>
   		 	<div class="navigation-right">FAQ</div>
   		</div>
    </div>
</div>

<div id="pagetitle">
	<div id="container">
 		 <div id="signup-header">
 		 </div>
 	</div>
</div>

<div id="main">
	<div id="container">
		<div class="main-left">
			<div id="header-freequick"></div>
			<div id="signupform">
			
			
			<br class="form">
			<label for "username">Username</label>
			<input id="username" class="signupforms" type="text">
			<br class="form">
			<label for "email">Email</label>
			<input id="email" class="signupforms" type="text">
			<br class="form">		
			<label for "password">Password</label>
			<input id="password" class="signupforms" type="password">
			<br class="form">
			<label for "confirmpassword">Confirm password</label>
			<input id="confirmpassword" class="signupforms"  type="password">	
			<br class="form">
			<input type="image" src="/images/accept.jpg" width="280" height="38" id="accept" alt="I accept. Create my account." title="accept" class="accept" />
			</div>
		</div>
		<div class="main-right">
		<div id="header-startenjoying"></div>
			<p><br><p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh arcu, gravida quis blandit non, dictum eget mi. Donec at quam ac metus facilisis tristique. Fusce ut diam ac nisi hendrerit porttitor. Nam semper, nibh quis rutrum tristique, mi nisi adipiscing ipsum, a tincidunt erat lorem ac dolor. Fusce quis nunc ligula, id gravida urna. Vivamus sodales ultrices blandit. Fusce vel nunc leo.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh arcu, gravida quis blandit non, dictum eget mi. Donec at quam ac metus facilisis tristique. Fusce ut diam ac nisi hendrerit porttitor. Nam semper, nibh quis rutrum tristique, mi nisi adipiscing ipsum, a tincidunt erat lorem ac dolor. Fusce quis nunc ligula, id gravida urna. Vivamus sodales ultrices blandit. Fusce vel nunc leo.

		</div>
	</div>
</div>
</body>
</html>
