<div id="pagetitle">
	<div id="container">
 		 <div id="signup-header">
 		 </div>
 	</div>
</div>

<div id="main-signup">
	<div id="container">
		<div class="main-signup-left">
			<div id="header-freequick"></div>
			<div id="signupform">
			<% @user.password = @user.password_confirmation = nil %>
			<% form_for :user, :url => users_path do |f| -%>
  			<br class="form">
  			<label for "username">Username</label>
  			<%= f.text_field :login, :id => "username", :class => "signupforms" %>
  			<br class="form">
  			<label for "email">Email</label>
  			<%= f.text_field :email, :id => "email", :class => "signupforms" %>
  			<br class="form">		
  			<label for "password">Password</label>
  			<%= f.password_field :password, :id => "password", :class => "signupforms" %>
  			<br class="form">
  			<label for "confirmpassword">Confirm password</label>
  			<%= f.password_field :password_confirmation, :id => "confirmpassword", :class => "signupforms" %>	
  			<br class="form">
  			<input type="image" src="/images/accept.jpg" width="280" height="38" id="accept" alt="I accept. Create my account." title="accept" class="accept" />
  			</div>
			<% end -%>
		</div>
		<div class="main-signup-right">
		<div id="header-startenjoying"></div>
			<p><br><p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh arcu, gravida quis blandit non, dictum eget mi. Donec at quam ac metus facilisis tristique. Fusce ut diam ac nisi hendrerit porttitor. Nam semper, nibh quis rutrum tristique, mi nisi adipiscing ipsum, a tincidunt erat lorem ac dolor. Fusce quis nunc ligula, id gravida urna. Vivamus sodales ultrices blandit. Fusce vel nunc leo.
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh arcu, gravida quis blandit non, dictum eget mi. Donec at quam ac metus facilisis tristique. Fusce ut diam ac nisi hendrerit porttitor. Nam semper, nibh quis rutrum tristique, mi nisi adipiscing ipsum, a tincidunt erat lorem ac dolor. Fusce quis nunc ligula, id gravida urna. Vivamus sodales ultrices blandit. Fusce vel nunc leo.

		</div>
	</div>
</div>
