<div id="pagetitle">
	<div id="container">
 		 <div id="faq-header">
 		 </div>
 	</div>
</div>

<div id="main-signup">
	<div id="container">


<b>What is MailBright?</b>
MailBright is a next-generation email service that is designed to address the needs of modern email users. This includes organizing messages into conversation-based Stacks, separating automated notifications from personal emails, and providing an interface that allows the user to quickly browser and respond to messages. It's a new way to do email. 
<p>
<b>How do I sign up for MailBright?</b>
Visit our signup page at <a href="http://www.mailbright.com/signup">http://www.mailbright.com/signup</a>
<p>
<b>How much does MailBright cost?</b>
MailBright is free.
<p>
<b>Does MailBright crowd my email with annoying advertisements?</b>
We think email is your home on the Internet--and who wants to see ads at home? Unlike other services, MailBright isn't ad-based, and doesn't display ads in you inbox or your messages. 
<p>
<b>So how does MailBright make money?</b>
In the future, MailBright will offer special add-on features that users can purchase if they choose. But our core service will always remain free.
<p>
<b>What are Stacks?</b>
MailBright groups your messages by sender to save space and keep you organized. These groups are called Stacks. So while you may get multiple emails from online shopping sites, newsletters, and other sources, they won't crowd your inbox.
<p>
<b>How much space will MailBright give me to store my email?</b>
At MailBright, we don't believe in having to delete email, so all accounts offer unlimited storage.
<p>
<b>Who makes MailBright?</b>
MailBright is developed in San Francisco, CA, by a team of people who want to make email fun again.

	</div>
</div>